*{
    margin: 0;
    padding: 0;
    text-align: center;
}
 
body{
    background-color: lightslategray;
}

h1{
    background-color: #0A1F0D;
    color: white;
    height: 4rem;
    line-height: 4rem;
}

.choice{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #0A1F0D;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 50px;
    margin-bottom: 40px;
}

.choice:hover{
    cursor: pointer;
    background-color: #0A1F0D;
}

.scoreboard{
    display: flex;
    gap: 4rem;
    justify-content: center;
    font-size: 2rem;
    margin-top: 3rem;
}

#user-score, #comp-score{
    font-size: 3rem;
}

.msg-container{
    margin-top: 3rem;
}

#msg{
    background-color: #0A1F0D;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}

.owner{
    margin-top: 2rem;
    font-weight: bolder;
    color: #0A1F0D;
}

@media screen and (max-width: 500px) {
    .choice{
        height: 100px;
        width: 100px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
        height: 90px;
        width: 90px;
        object-fit: cover;
        border-radius: 50%;
        border: 3px solid #0A1F0D;
    }
    .choices{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        margin-bottom: 40px;
        gap: 2rem;
    }
    .scoreboard{
        display: flex;
        gap: 4rem;
        justify-content: center;
        font-size: 1.8rem;
        margin-top: 5rem;
    }
    
    #user-score, #comp-score{
        font-size: 2rem;
    }

    .msg-container{
        margin-top: 4rem;
    }
    
    #msg{
        background-color: #0A1F0D;
        color: #fff;
        font-size: 0.9rem;
        display: inline;
        padding: 1rem;
        border-radius: 1rem;
    }
    
    .owner{
        margin-top: 3rem;
        font-weight: bolder;
        color: #0A1F0D;
    }
}